<launch>
    <!-- Run naive_obstacle_avoidance_node   -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <param name="model" value="$(arg model)"/>
  <arg name="namespace"/> 
  <node pkg="naive_obstacle_avoidance" type="naive_obstacle_avoidance_node" name="naive_obstacle_avoidance_node"  output="screen">
  </node>
</launch>
